
body{
    font-size: 30px;
}
section.sec1,div.parent,section.sec3{
    width: 80%;
    min-height: 200px;
    display: flex;
    margin: 50px auto;
}
.half_width{
    width: 50%;
    min-height: 100px;
}
.for_border_align{
    border-left: 4px solid;
    border-image: linear-gradient(red,blue);
    border-image-slice: 1;
    height: 110px;
    width: 100%;
    margin-top: 50px;
    display: flow-root;

}
.left_part_moving_down{
    margin-top: 70px;
}
section.sec1 h1{
    padding-left: 10px;
    font-size: 55px;
    color:darkblue;
    margin-top: -14px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    word-spacing: 7px;
}
section.sec1 p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
}
.span_color{
    color: tomato;
}
#text_mod{
    display: block;
    margin-top: 30px;
    font-size: 20px;
}
.half_width img{
    width: 70%;
    height: 400px;
}
.making_flex{
    display: flex;
    justify-content: right;
    align-content: center;
}
.hire_me_button{
    text-decoration: none;
    background-image: linear-gradient(to right,#cc2b5e,#753a88);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
}
section.sec2{
    margin-top: 100px;
}
section.sec2 h1{
    text-align: center;
    font-family: cursive;
    color: darkblue;
}
div.parent{
    justify-content: space-between;
    padding: 0;
}
.one_third_width{
    width: 30%;
    min-height: 100px;
    background-color: wheat;
    border-radius: 20px;
}
.one_third_width img{
    width: 50%;
    display: block;
}
.one_third_width div.child{
    font-size: 20px;
    margin: 20px;
    margin-top: -13px;
}
.one_third_width div.child p{
    margin-top: -8px;
}
#back_mission{
    background-color: rgba(85, 107, 47, 0.342);
}
#back_vission{
    background-color: rgba(184, 135, 11, 0.342);
}
#back_goal{
    background-color: rgba(0, 139, 139, 0.342);
}
section.sec3{
    width: 100%;
    margin-top: 100px;
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 6% 30%;
}
.coding_pic_part{
    width: 40%;
}
.coding_pic_part img{
    width: 70%;
    height: 400px;
    margin-left: 25%;

}
.dev_without_limits{
    width: 60%;
}
#child_of_dev{
    width: 85%;
    margin-left: 3%;

}
